
<div id="post-profile">
    <p id="post-header">Add Title:</p><input id="post-title">
    <p id="post-header">Add Content:</p><textarea id="post-title"></textarea><br><br>
    <button class="btn">Submit</button>
</div>

<div id="post-history">
    <card>Post History</card>
</div>

