* {
  color: rgb(48, 52, 95);
}

header, .project:not(:last-child) {
    border-bottom: 3px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgb(48, 52, 95);
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: rgb(48, 52, 95);
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
#welcome {
  text-align: center
  ;
}

#main_title {
  text-align: center;
  text-decoration: solid;
  color: rgb(48, 52, 95);
}

.btn {
  color: aliceblue;
  text-emphasis-style: bold;
  background-color: rgb(48, 52, 95);
}

#post-profile {
  margin-top: 15%;
  margin-left: 2%;
  float: left;
  width: 45%;
  border: 3px solid #ccc;
  padding: 10px;
}

#post-history {
  margin-top: 15%;
  margin-right: 2%;
  height: 375px;
  float: right;
  width: 45%;
  border: 3px solid #ccc;
  padding: 10px;
  font-weight: 600;
  font-size: larger;
  text-decoration: underline;
  text-align: center;
}

#post-header {
  font-weight: 600;
  text-align: left;
  margin-top: 3%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.post_content {
  border:rgb(48, 52, 95);
  border-width: 15px;
}

#post-history {
  margin-right:28%;
  margin-top: 15%;
}

#delete_btn {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  font-weight: bold;
  width: 15%;
  height: 10%;
  margin-right: 10%;
  float: left;
}

#delete_btn:hover {
background-color: rgb(107, 107, 107);
}

#post-delete-btn {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(165, 29, 29);
  margin-left: 45%;
}

h1 {
  color: rgb(48, 52, 95);
}
h2 {
  color: rgb(48, 52, 95);
}
h3 {
  color: rgb(48, 52, 95);
}

#main_title {
  color: rgb(48, 52, 95);
}

#post_clr {
  color: rgb(48, 52, 95);
}